
# Emacs backup files.
.#*#
\#*#
*~
*.ede

# Build outputs
*.o
*.so
*.exe
*.d
*.a
*.tar.gz
.deps
*.in
*.s
*.ll
*.bc
*.out

# LLVM build system artefacts
Debug
Debug+Assert
Release
*.bak
.dir

# The actual Makefiles produced
# Makefile - Can't because of LLVM build system...

# The local aclocal.m4 file
aclocal.m4

# The output of the configure script
config.guess
config.log
config.status
config.sub

# The configure script itself
configure

# The include directory artifacts
config.h
stamp-h1

# Various scripts used for libtool and the like
aux-build
install-sh
libtool
ltmain.sh
missing
depcomp

# Not sure what this one is for
autom4te.cache